// Copyright (c) 2015 - 2016 Markus Kohlhase <mail@markus-kohlhase.de>

@require 'nib'

@require "~normalize.css/normalize.css"
@require "~font-awesome/css/font-awesome.css"
@require "~source-sans-pro/source-sans-pro.css"
@require "~museo/300/museo-300.css"
@require "~museo/500/museo-500.css"
@require "~museo/700/museo-700.css"

@require "Colors"

@require "~purecss/build/base.css"
@require "~purecss/build/grids.css"
@require "~purecss/build/grids-responsive.css"
@require "~purecss/build/menus.css"
@require "~purecss/build/forms.css"
@require "~purecss/build/buttons.css"

@media only screen and (max-width: 600px) {
  body { font-size:80%;}
}

h1, h2, h3, h4, h5, h6, h7
  font-family Museo

html, button, input, select, textarea
  font-family Source Sans Pro Light, sans-serif

.pure-menu-link:hover
  color #000

.fa
  font-family: FontAwesome !important;

.pure-g [class *= "pure-u"]
  font-family Museo

.fa
  font-family: FontAwesome !important;

label, legend
  span
    &.desc
      color #888
      font-size 0.8em
      margin-left 0.5em
form
  div.err
    color #f44
    font-size 0.9em
  input[type="text"], textarea, select
    &.err
      border-color #f44

button.pure-button i
  margin-right 0.5em

::-webkit-scrollbar
  background-color  #eee

::-webkit-scrollbar-thumb
  border-radius    0
  background-color #ccc

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.pure-menu-list
  margin 0 50px

.app
  background #fff
  min-height 100vh
  height     100vh

  .tutorial
    margin-bottom 3em
    img
      width 100%
  .main
    height     100vh

    .landing, .modal
      position absolute
      z-index  100
      width    100%
      height   100%

    .modal
      z-index  1000

    .landing
      z-index           1001
      background-color  rgba(0,0,0,0.7)
      min-height 100vh

      h1, h3
        font-family Museo
        font-weight 500
      h2
        font-size 2em
        margin-top 1.5em
        font-weight 500
      h3
        font-size 1.5em

      input
        font-size 1.2em

      .place-search
        max-width     500px
        margin        auto
        margin-top    2em
        margin-bottom 2em

        .error
          margin        auto
          padding       1.1em
          background    rgba(0,0,0,0.5)
          border-radius 0 0 0.3em 0.3em

          .errorText
            color         #f44

          .link
            color       #08f

        .city-list
          padding-top   0.3em
          background    rgba(0,0,0,0.5)
          border-radius 0 0 0.3em 0.3em

          li:hover
            background rgba(0,0,0,1)
            border-radius 0 0 0.3em 0.3em
            div.chevron
              color #fff

      .content
        max-width 900px
        margin auto

        .login-info
          margin-bottom 10em

        .imprint-heading
          margin-top 2em
          margin-bottom 0.5em

      .banner, .explain
        background-color #fff

      .footer
        background-color $darkGray
        color #fff
        text-align center
        padding 20px 20px 50px 20px
        line-height: 1.5em;

        h3
          font-size 1.5em

        a
          color #fff

      .search, .explain
        text-align center
        padding 50px 1em
        ul
          text-align left
        h1
          margin-top 0
      .explain
        position: relative

        p
          font-size 1.2em
        a
          color $darkGray

        ul
          max-width 600px
          text-align left
          margin auto

        .teamMember
          vertical-align top

          .team-member-name
            font-weight bold

        .version
          font-size 0.7em

        .circleTutorial
          display block
          text-decoration none
          position: absolute
          width: 100px
          border-radius 50px
          background-color #000000
          color: #fff
          left: 50%
          margin-left -50px;
          height 73px;
          top: -180px
          padding-top 27px
          cursor      pointer
          z-index: 1

        .partnerLogo
          margin 2em
          border none
          width 25%
          vertical-align middle

        hr
          margin 100px 40px
        hr:before
            content ' '
            display block
            position absolute
            margin-left -100px
            margin-top -35px
            background-color #ffffff
            background-image url(../img/pincloud.png)
            background-repeat no-repeat
            background-position center center
            left 50%
            width 200px
            height 70px

        .teamMember

          display inline-block
          width 200px
          margin-top 30px

          .circle
            display: inline-block;
            width: 100px
            height: 100px
            border-radius 50px
            margin: 10px
            overflow hidden

            img
              width:100%
          .circle.pink
              background-color: $pink
          .circle.yellow
              background-color: $yellow
          .circle.berry
              background-color: $berry
          .circle.green
              background-color: $green
          .circle.blue
              background-color: $blue
          .circle.grayBlue
              background-color: $grayBlue

      .banner
        .content
          max-width initial
          padding-bottom 20px

          div.logo
            padding-top 1em
            margin-left  50px

          img.logo
            max-width 137.633px
            max-height 57px
            width 100%


        .menu-wrapper
          text-align right

          .language-wrapper
            margin-right 1em
            font-size 0.8em
            color #777

            .language-link
              margin 3pt
              text-decoration none

              &.selected
                color #777
                pointer-events none

              &.unselected
                color #555

                &:hover
                  color #000

        .menu-wrapper-inner
          bottom 0
          width 100%
          height 20px
          margin-bottom 10px

        .menu
          font-size  0.9em
          display inline-block
          position relative
          margin-top 30px
          max-width 655px

          ul
            margin    0

          li
            &:hover, &:active
              text-decoration underline

            a
              background  transparent

          .menu-item
            text-align center

      .search
        position relative
        text-align center
        color #fff
        height 150px

        h1
          font-size 3em

        .landing-content
          position relative
          top    20%
          bottom 0
          left   0
          right  0
          width  calc(100vw - 50px)
          height 50%
          margin 0 10px 0 10px
          display inline-block

        h2
          font-weight normal
          font-size   1.4em

        input, button
          color $coal
          font-family Source Sans Pro Light, sans-serif

      .search.start
        height calc(100% - 100px)
        .content
          height 30%

      .search
        z-index 1
      .content
        z-index 0

    .modal
      top      0
      right    0
      left     0
      bottom   0
      background-color rgba(0,0,0,0.3)
      animation: fadein 500ms;

      .dialog
        background-color: #FFF
        padding 10px
        border 1px solid $lightGray
        box-shadow: 0px 0px 10px
        position relative
        top 20%
        margin auto
        max-width 600px

    .left
      position relative
      z-index 2
      order -1
      height 100vh
      overflow-y  hidden
      float left
      background-color #fff

      .content-wrapper
        .result
          box-sizing      border-box
          padding-bottom  30px

        .content-above-buttons
          overflow-y      scroll
          height          calc(100vh - 42px)
          box-sizing      border-box
          padding-bottom  30px

        .content
          overflow-y      scroll
          height          100vh
          box-sizing      border-box
          padding-bottom  30px

      &.closed
        width 0
      &.opened
        max-width 380px
        width 90%

        .menu
          width       100%

      .search
        &.closed
          display none

        .main-categories
          height 2.1em

      nav.menu
        z-index     10
        padding     0
        margin      0
        background  $coal
        text-align  center
        position    absolute
        bottom      0
        li
          cursor        pointer
          box-sizing    border-box
          font-weight   normal
          padding       0.3em
          font-size     1.2em
          border        none
          color         $lightGray
          background    transparent
          border-top    4px solid transparent
          border-bottom 4px solid transparent
          &:hover
            color         #fff
            border-bottom 4px solid #fff
          i
            margin-right 0.5em

      nav.menu-top
        top             0
        display         flex
        flex-direction  row
        padding         9pt 6pt 8pt 7pt

    .hide-sidebar
      position relative
      z-index 1
      height 0

      button
        position        relative
        top             65px
        font-size       13pt
        color           $darkGray
        background      #fff
        border          1px solid $lightGray
        border-radius   0 0.2em 0.2em 0
        padding         0.5em 0 0.5em 0.3em
        box-shadow      0.5px 1px 2px 0.3px rgba(0,0,0,0.5)

        &:hover
          color       $coal
          box-shadow  px 2px 2px 0.3px rgba(0,0,0,1)

        i
          margin-right 0.3em

    .right
      float right
      height 100vh

      &.opened
        width 28em
      &.closed
        position relative
        top 0
        right 0
        width 0
        z-index 1

    .right
      background  #fff
      color       $coal
      position    relative

      a
        text-decoration none
        color           $darkGray

      .menu-toggle, .content-toggle
        button
          outline         none
          position        relative
          z-index         1
          top             10pt
          font-size       15pt
          text-transform  uppercase
          text-align      right
          color           $darkGray
          background      #fff
          border          1px solid $lightGray
          border-radius   0.2em 0 0 0.2em
          padding         0.2em
          box-shadow  0 1px 3px 0.2px rgba(0,0,0,0.5)

          &:hover
            color       $coal
            box-shadow  0 1px 3px 0.2px rgba(0,0,0,1)

          .pincloud
            display inline-block
            width   3.5em
            height  1.2em
            background-position left
            background-image    url("../img/pincloud.png")
            background-repeat   no-repeat
            background-size     50%

          i
            margin-right 0.3em

      .subscribe-link
        a
          outline         none
          position        absolute
          z-index         2
          top             5em
          font-size       1.8em
          text-transform  uppercase
          text-align      right
          color           $darkGray
          background      #fff
          border          1px solid $lightGray
          border-radius   0.2em 0 0 0.2em
          padding         0.2em

      .content-toggle
        button
          right 0

      &.opened
        button
          margin-left   0
          color         $darkGray
          .pincloud
            width       2.0em
            background  none
        button, button:hover
          box-shadow    none
          border        none

      &.closed button
        width       3.8em
        margin-left -3.8em

      .logo
        cursor              pointer
        margin-top          2em
        background          url("../img/logo.png")
        background-position center
        background-repeat   no-repeat
        height              95px

      div.menu-content
        padding   2.5em
        position  absolute
        top       10em
        bottom    2em
        left      0
        right     0
        overflow  auto

        a
          padding-bottom 0.05em
          border-bottom 1px solid rgba(255,255,255,0.4)
          &:hover
            color #000
            border-bottom 1px solid #000

      ul.menu
        margin 2.5em 0 0 0

      ul.submenu
        margin 0

      ul.menu, ul.submenu
        list-style none
        padding    0
        text-align center

      ul.menu > li
        margin-top 2.5em

      ul.submenu > li
        margin-top  0.75em
        font-size   0.85em

      ul.menu > li > a
        font-weight bold
        font-size   20px

      ul.menu > li, ul.submenu > li, div.menu-footer
        display         block
        cursor          pointer
        text-transform  uppercase

        a:hover
          color         #000
          border-bottom 2px solid #000

        &.active > a
          color         $coal
          border-bottom 2px solid $darkGray

      div.menu-footer
        position    absolute
        bottom      0
        left        0
        right       0
        padding     10px
        text-align  center
        font-size   0.85em

  .close-button
    text-align: center
    margin: 0
    padding: 1em

    button
      margin 0 5px

  .message
    white-space pre-wrap
    margin: 0
    padding: 1em

  .add-entry-form, .new-rating-form
    margin-left  1em
    margin-right 1em

    select
      height 2.5em

    .radio-button
      margin-top  0.2em
      margin-bottom  0.2em

    .form-heading
      font-weight  bold
      margin-top  0.5em
      margin-bottom 0em

    .rating-context-explanation
      margin-top  0.5em
      margin-bottom 0.5em
      font-style  italic

  .add-entry-form
    h3
      margin-top    1em
      margin-bottom 0.2em

  .new-rating-form
    .title
      font-weight bold

  .license input
    margin-top 0.7em

  .info
    .landing-img
      width 70%

    h3
      margin-top 50px

  .group-header
    border-top    3px solid $lightGray
    padding 1em
    padding-top    0.5em
    padding-bottom 0.5em
    margin     0
    background  #eaeaea
    color       #666

  div.chevron
    position relative
    color    $lightGray
    i
      position  absolute
      display   inline-table
      top       0
      bottom    0
      margin    auto

  .city-list

    ul
      list-style none
      margin  0
      padding 0
      li
        cursor  pointer
        padding 0.4em
        padding-left  0.7em
        padding-right 0.7em

        span
          margin-right 0.5em
          &.city, &.county
            font-weight bold

          &.state
            opacity 0.8
            font-size 0.9em

          &.country
            font-size 0.8em

          &.country, &.prefix
            opacity 0.6

  .result
    padding-bottom 1.5em
    height      calc(100vh - 107px)
    overflow-y  scroll
    background  #f7f7f7

    .city-list
      ul
        background  #f7f7f7

        li
          padding       0.2em
          padding-left  0.7em
          padding-right 0.7em
          line-height 0.9
          border-left 5px solid transparent

          &:hover
            background #fff
            border-left 5px solid $darkGray
            div.chevron
              color $darkGray
          span
            &.state
              color #555

            &.country, &.prefix
              color #888

  .result-list
    p.no-results
      margin 0
      padding 1em
      font-size 0.9em
      span
        margin-left 0.5em

    p.loading
      margin 0
      padding 1em
      font-size 0.9em
      span
        margin-left 0.5em

    .flower
      float right
      margin-top    -65px
      margin-right  10px

    ul
      list-style none
      margin 0
      padding 0

      li
        cursor pointer
        margin 0
        padding-left   0.7em
        padding-top    0.7em
        padding-right  0.5em
        padding-bottom 0.7em
        border-bottom 1px solid #ddd
        border-left 5px solid transparent

        div:first-child
          margin-bottom 0.1em

        &.current-entry, &:hover
          background #fff

        &.event
          span.category
            color $event
          &.current-entry, &:hover
            border-left 5px solid $event

        &.company
          span.category
            color $company
          &.current-entry, &:hover
            border-left 5px solid $company

        &.initiative
          span.category
            color $initiative
          &.current-entry, &:hover
            border-left 5px solid $initiative

        div.category
          height 1.2em

        span
          &.category
            font-size 0.8em
            color #aaa
            text-transform uppercase
          &.title
            font-weight bold
            font-size 1.2em
            margin-right 0.3em
          &.subtitle
            font-size 0.8em
            color #555

        .highlight-entry
          div.chevron
            color $darkGray
          &.initiative div.chevron
            color $initiative
          &.company div.chevron
            color $company
          &.event div.chevron
            color $event
        .tags
          margin-top  0.1em
          float       right
          ul
            list-style none
            padding 0
            margin 0
            li
              display       inline-block
              margin-right  0.2em
              background    #aaa
              color         #fff
              border-radius 0.2em
              padding       0.15em
              padding-left  0.2em
              padding-right 0.2em
              font-size     0.8em
              border        0

.banner
  position relative
  z-index 10
  color #eee
  background #ff2c2c
  text-align center
  padding-top 1em
  padding-bottom 1em

  .banner-link
    color #000
