// Copyright (c) 2015 Markus Kohlhase <mail@markus-kohlhase.de>

@import   "nib"
@require  "Colors"

$headerHeight         = 50px
$headerMargin         = 6px
$headerContentHeight  = ($headerHeight - 2 * $headerMargin)

.app

  header
    border-bottom 1px solid $lightGray
    color         $anthracite

    .header-content
      height      $headerContentHeight
      margin      auto
      max-width   900px
      margin-top  $headerMargin

      .logo
        background          url("../img/logo.png")
        background-position center
        background-repeat   no-repeat
        background-size     80%

      .login, .menu
        line-height $headerContentHeight
        text-align  center
        cursor      pointer

        &:hover
          color $blue

      .login
        font-size 10px

      .menu
        font-size 20px

      a.menu.disabled
        color   #888
        cursor  default

  .menu-list

    .pure-menu
      text-align right

      .pure-menu-item
        cursor pointer

      .pure-menu-link
        color #000
