// Copyright (c) 2015 Markus Kohlhase <mail@markus-kohlhase.de>

@import   "nib"
@require  "Colors"
@require  "~leaflet/dist/leaflet.css"

.osm.attr, .leaflet-control-attribution.leaflet-control a
  color $darkGray
