@import 'nib'
@require "Colors"

$borderRadius = 0.4em

.SearchBar
  width         100%
  box-sizing    border-box
  background    #fff

  input, button
    box-sizing  border-box
    border      none
    outline none

  input, span.search-icon, a.locate-icon
    font-size 1.2em

  input
    padding 0.4em
    padding-left  2em

  .search-icon, .locate-icon
    display   inline-block
    z-index   5
    color     $darkGray
    position  absolute

  .search-icon
    display     inline-block
    padding-top 0.4em
    left        0.6em
    font-size   1.2rem

  .locate-icon
    margin-left -2em
    padding     0.4em 0.6em

  .main-categories
    font-size       0.8em
    color           $darkGray

    button
      padding         0.5em
      text-transform  uppercase

    button > i.toggle
      text-align    left
      display       block;
      width         1.8em;
      height        0.9em;
      border        1px solid #FFF
      border-radius 0.5em
      float         right

      i
        display: inline-block;
        height: 0.9em;
        width: 0.9em;
        border-radius: 0.5em;
        background-color: #FFF;
        vertical-align: top;
        border: 1px solid #FFF;
        margin: -1px;

      button.active > i.toggle
        text-align: right !important

    .active
      color #fff

    .initiative.active
      background $initiative

    .event.active
      background $event

    .company.active
      background $company

.standalone .SearchBar
  box-shadow    2px 2px 8px 4px rgba(0,0,0,0.6)
  border-radius $borderRadius

  input
    border-radius 0 0 $borderRadius $borderRadius

  .main-categories
    button:first-child
     border-radius $borderRadius 0 0 0

    button:last-child
      border-radius 0 $borderRadius 0 0


.integrated .SearchBar
  border-bottom 1px solid $lightGray
