@import 'nib'

$grayBlue   = rgb(100,  122,  133)
$blue       = rgb(0,    152,  137)
$green      = rgb(151,  191,  13 )
$yellow     = rgb(225,  221,  0  )
$pink       = rgb(229,  98,   146)
$berry      = rgb(170,  56,   108)

$coal       = rgb(26,26,26)
$anthracite = rgb(45,45,45)
$darkGray   = rgb(102,102,102)
$lightGray  = #dedddd

$company    = $blue
$initiative = $green
$event      = $pink
