<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Karte von morgen">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.kartevonmorgen.org/kvm_logo.jpg">
    <meta property="og:url" content="https://www.kartevonmorgen.org">
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.prototype) { %>
      <div class="banner">
        Das ist der Prototyp der Karte von morgen. Hier probieren wir neue Features aus. Die Daten werden regelmäßig gelöscht. Benutze besser <a href="https://kartevonmorgen.org" class="banner-link">kartevonmorgen.org...</a>
      </div>
    <% } %>
    <noscript>
     Diese Seite benötigt JavaScript.
     Bitte aktiviere die JavaScript Unterstützung in deinem Browser.<br /><br />
     This page requires JavaScript. Please activate JavaScript in your browser.
    </noscript>
    <div id='app'></div>
  </body>
</html>
